.contModulo{
/*    height: 500px;*/
    width: 100%;
    background-color: #dddddd;
    overflow: hidden;
    
}
.cajaFormulario{
    height: 480px;
    width: 100%;
    background-color: #424242;    
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    transition: .5s;
    margin-top: -430px;
}
.cajaFormulario form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botonFormulario{
    width: 50px;
    height: 50px;
    background-color: #525252;
    margin-bottom: -25px;
/*    position: relative;*/
/*    bottom: -48%;*/
    border-radius: 50%;
    border: solid white 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   z-index: 100;
    cursor: pointer;
    
}
.botonFormulario i{
    font-size: 28px;
    color: white;
    
}
.cajaTabla{
/*    height: 485px;*/
    min-height: 485px;
    width: 100%;
    background-color: #e0e0e0;
}

/*BOTON SWITCH*/
.BotonMostrarOff{
    display: flex;
    justify-content: center;
    
}
.BotonMostrarOff label{
    margin: 0px 5px
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
